.goals-progress path {
    fill: #000;
}

.goals-progress #top {
    fill: #11CD6E;
}

.goals-progress .progress {
    fill: #11CD6E;
}

.goals-value,
.goals-total{
    fill: #11CD6E;
}

.goals-value {
    font-size: 75px;
}

.goals-total{
    font-size: 90px;
}